.containerConcurso {
  background: linear-gradient(to right, rgb(143, 113, 250), rgb(15, 89, 199));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
}

.tituloConcurso {
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.tituloConcurso h2 {
  font-size: 2.2em;
  margin-bottom: 5px;
}

.tituloConcurso p {
  font-size: 18px;
}

.containerPreguntas {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  text-align: center;
  background-color: rgba(205, 205, 205, 0.258);
}

.controlVolumen {
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.controlVolumen label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}

.controlVolumen input[type="range"] {
  width: 300px;
  max-width: 90%;
  height: 8px;
  cursor: pointer;
  margin: 15px 0;
}


h4 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ffffff;
}

.containerConcurso p {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.respuestas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin-bottom: 25px;
}

.respuestas button {
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid #ccc;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.respuestas button:hover {
  background-color: #f0f0f0;
  border-color: black;
}

.respuestas button.correcta {
  background-color: rgb(0, 210, 0);
  border-color: rgb(8, 69, 8);
}

.respuestas button.incorrecta {
  background-color: rgb(199, 1, 1);
  border-color: rgb(82, 16, 16);
}

.contador {
  font-size: 1.1em;
  color: #e5fe00;
  margin-bottom: 15px;
}

.mensaje {
  font-size: 1.1em;
  margin-bottom: 20px;
  font-weight: bold;
}

.siguienteCancion {
  background-color: rgb(39, 197, 255);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.siguienteCancion:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(32, 30, 30, 0.3);
  color: white;
}

.final {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final h2 {
  color: var(--color-primary);
  font-size: 2em;
  margin-bottom: 10px;
}


.final p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.final button {
  background-color: rgb(39, 197, 255);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.final button:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(32, 30, 30, 0.3);
  color: white;
}